# NOTE: It is possible to complete the project without
# needing any third-party packages. 
# But if you do end up using any third-party packages
# (for example when addressing the further exploration challenges), 
# you MUST include a "requirements.txt" file with all the packages listed inside!

# references
#1.The Infinite Loop REFERENCE : https://www.tutorialspoint.com/python/python_while_loop.htm
#2.Python List append() REFERENCE : https://www.youtube.com/watch?v=3BaGb-1cIr0&feature=youtu.be
#3.# DateTime REFERENCE: https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior